---
fgt_user: admin
fgt_password: fortinet
fmg_user: admin
fmg_password: fortinet
adom: LSD-Customer16

regions:
  - name: OneRegion
    shortname: OL
    dc-id:
      - 112
    hubs:
      - site-1-112
    edge:
      {% for M in range(113, 120) %}
      - site-1-{{ M }}
      {% endfor %}
