---
fgt_user: admin
fgt_password: fortinet
fmg_user: admin
fmg_password: fortinet
faz_user: admin
faz_password: fortinet
adom: LSD-Customer3

regions:
  - name: OneRegion
    shortname: OL
    dc-id:
      - 8
    hubs:
      - site-1-8
    edge:
      {% for M in range(9, 16) %}
      - site-1-{{ M }}
      {% endfor %}
