---
fgt_user: admin
fgt_password: fortinet
fmg_user: admin
fmg_password: fortinet
adom: LSD-Customer6

regions:
  - name: OneRegion
    shortname: OL
    dc-id:
      - 32
    hubs:
      - site-1-32
    edge:
      {% for M in range(33, 40) %}
      - site-1-{{ M }}
      {% endfor %}
