---
fgt_user: admin
fgt_password: fortinet
fmg_user: admin
fmg_password: fortinet
adom: LSD-Customer11

regions:
  - name: OneRegion
    shortname: OL
    dc-id:
      - 72
    hubs:
      - site-1-72
    edge:
      {% for M in range(73, 80) %}
      - site-1-{{ M }}
      {% endfor %}
